name: Deploy Website

on:
  push:
    branches:
      - main
    paths:
      - 'app/client/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup GCP CLI
        uses: google-github-actions/setup-gcloud@v1
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}

      - name: Upload to GCS
        run: gsutil -m rsync -r app/client gs://${{ secrets.GCP_PROJECT_ID }}-website
